/*
Color Palette

#0F4B94
#0B6BE0
#E0BF00
#630F94
#920BE0

OR

#3R1766
#6F1AB6
#FF0032
#CD0404
*/

:root {
    --dark-blue: #0F4B94;
    --light-blue: #0B6BE0;
    --dull-yellow: #E0BF00;
    --dark-purple: #630F94;
    --light-purple: #920BE0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    height: 100vh;
    width: 99vw;
    color: white;
    margin: 0;
}

body {
    margin: 0;
}

section {
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    scroll-snap-align: start;
}

h1 {
    text-align: left;
    font-weight: 800;
    font-size: 6rem;
    margin: 0;
    flex: 1;
}

h3 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

h4 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

p {
    margin: 0;
}

.small-spacer{
    flex: 2;
}

.large-spacer{
    flex: 4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#landing {
    display: flex;
    flex-direction: column;
    background-image: url("../images/WebDeveloper-generic.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 55rem;
    padding: 5rem;
    transition: background-color 1s;
    max-height: 100vh;
}

#landing .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 3;
}

#landing button {
    background: none ;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    width: fit-content;
}

#landing button:hover {
    border: 2px solid white;
}

#summary {
    background-color: white;
    color: var(--dark-purple);
    padding-top: 20rem;
}

#summary .container > p {
    width: 33vw;
    margin-top: 3rem;
}

#skills {
    padding: 2rem 10rem;
}

#skills .large-card {
    background-color: var(--dull-yellow);
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding: 2rem;
}

#projects {
    background-color: whitesmoke;
    min-height: 100vh;
    height: fit-content;
    color: var(--dark-purple);
}

#projects .container {
    display: flex;
    align-items: start;
    gap: 4rem;
    height: 90%;
    padding-top: 3rem;
}

.project-card > h4 {
    margin-top: 0;
}

.project-card {
    background-color: var(--dark-purple);
    color: white;
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
    font-size: 1.75rem;
    height: 40vh;
    flex: 1;
    border-radius: 1.5rem;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card:hover {
    background-color: var(--light-purple);
    height: 43vh;
    flex: 1.1;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.project-card > p {
    font-size: 1.5rem;
    padding: 4rem;
    padding-top: 1rem;
    margin-bottom: 4rem;
    max-width: 26rem;
    text-align: justify;
    overflow: scroll;
}

.project-card > p::-webkit-scrollbar {
    display: none;
}

.project-card > a {
    text-decoration: none;
    color: var(--light-purple);
    background-color: white;
    border-radius: 5rem;
    padding: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    transition: all 0.4s;
}

.project-card > a:hover {
    background-color: lightgray;
    color: var(--dark-purple);
}

footer {
    height: 30vh;
}

#contact-footer {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    text-align: center;
    float: 1;
}

#contact-footer .container {
    justify-content: center;
    flex: 2;
}

.contact {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact img {
    width: 3rem;
}

.dark-blue {
    background-color: var(--dark-blue);
}

.light-blue {
    background-color: var(--light-blue);
}

.dull-yellow {
    background-color: var(--dull-yellow);
}

.dark-purple {
    background-color: var(--dark-purple);
}

.light-purple {
    background-color: var(--light-purple);
}